<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/adxgame-IGTSpring20/src/adx/variants/thirtydaysgame/SimpleThirtyDaysThirtyCampaignsAgent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="adx.variants.thirtydaysgame.SimpleThirtyDaysThirtyCampaignsAgent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="adxgame-IGTSpring20"/>
</launchConfiguration>
